.navbar {
    padding-left: 0;
    padding-right: 0;
}
.fixed-bottom {
    position: static;
}

.embed-responsive {
    width: 100%;
    margin: 0 auto;
}

.navbackground {
    background-color: #29648A;
    color: white;
}

.navbackground a {
    color: white;
}

.tiles {
    background-color: #29648A;
    color: white;
 
}

.tileshead {
    background-color: #29648A;
    color: white;
    font-weight: bolder;
}

.tilesred {
    background-color: #29648A;
    color: rgb(233, 108, 108);

}

.tilesredhead {
    background-color: #29648A;
    color: rgb(233, 108, 108);
    font-weight: bolder;
}

.tilesgreen {
    background-color: #29648A;
    color: rgb(225, 240, 12);
}

.tilesgreenhead {
    background-color: #29648A;
    color: rgb(225, 240, 12);
    font-weight: bolder;
}


.tilesorange {
    background-color: #29648A;
    color: orange;

}

.tilesorangehead {
    background-color: #29648A;
    color: orange;
    font-weight: bolder;
}

a:hover {
    color: red;
    opacity: 0.8;
}

h2 {
    font-size: 16px;
    margin-top: 1em;
}

.navbar-brand {
    font-size: 21px;
    font-weight: bold;
}

.flag {
    max-width: 20px;
    margin-right: 2px;
    padding-bottom: 3px;
}

.totals-padding {
    padding: 0 14px;
}

.myboldtext {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}

.myboldtext-2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}